 {% load static%}
 
      <section>
        <div class="intro-section">
          <div class="intro-section-content">
            <!-- <h5>welcome</h5> -->
            <h3 style="margin-left: 60px; margin-top:100px; margin-right:50px;font-weight:bold; font-size:60px;"> Jambo,{{user.username}}.</h3>
            <h4 class= "lead" style="margin-left:60px;margin-right:100px; font-size:35px;">Dive into our space.<br/>
            <h4 class= "lead" style="margin-left:60px;margin-right:100px; font-size:35px;">create,interact.<br/>
            <h4 class= "lead" style="margin-left:60px;margin-right:100px; font-size:35px;">chat, monitor.<br/></h4>
           
           <!-- <div class="nav__list-item" style="margin-left: 60px; margin-top:100px;margin-right:100px;
           border:1px solid black";>
              <a href="/profile" class="nav__link" style=" text-align:center; background:rgb(119, 201, 220);">Get Started</a>
             </div>   -->
  
             <button type="button" style="border-radius:50px; margin-left:60px; margin-top:40px;"> Get started</button> 
          

  
        </div>  

         <div class="intro-img">
           
        <img class="fit" src="{% static 'images/sample4.jpg'%}" height="auto" width="900px">
        
         </div>
             
        </div>
      </section style="margin-bottom:30px;">
      
        
